<article class="post">
	<section class="post-head">
			<h2><%= @post.title%></h2>
	<small>
		<time> <%= t('common.submitted') %> <%= time_ago_in_words(@post.created_at) %>  <%= t('common.ago') %>
			<% if user_signed_in? %>
				| <%= link_to t('common.edit'), edit_post_path(@post) %>
				| <%= link_to t('common.delete'), post_path(@post), method: :delete, data: { confirm: 'Are you sure?'} %>
			<% end %> 
		</time>
	</small>
	</section>

	<section class="post-body">
		<%= @post.body %>
	</section>
</article>
